ShibUseHeaders On

AuthType shibboleth
ShibRequestSetting redirectToSSL 443
ShibRequestSetting requireSession 1
Require shib-user gao.1153@osu.edu
Require shib-user li.4165@osu.edu
Require shib-user xu.1882@osu.edu
Require shib-user stahl.182@osu.edu